
BIN/Makefile.Debug
BIN/Makefile.Release
BIN/release/group.o
BIN/release/geometryengine.o
BIN/release/main.o
BIN/release/mainwidget.o
BIN/release/moc_mainwidget.o
BIN/release/qrc_shaders.cpp
BIN/release/qrc_shaders.o
BIN/release/try_opengl_2.exe.debug
BIN/Makefile.Debug
BIN/Makefile.Release
BIN/release/geometryengine.o
BIN/release/main.o
BIN/release/mainwidget.o
BIN/release/moc_mainwidget.o
BIN/release/qrc_shaders.cpp
BIN/release/qrc_shaders.o
BIN/release/try_opengl_2.exe.debug
BIN/Makefile.Debug
BIN/Makefile.Release
BIN/release/geometryengine.o
BIN/release/main.o
BIN/release/mainwidget.o
BIN/release/moc_mainwidget.o
BIN/release/qrc_shaders.cpp
BIN/release/qrc_shaders.o
BIN/release/try_opengl_2.exe.debug
BIN/Makefile.Debug
BIN/Makefile.Debug
BIN/Makefile.Debug
BIN/Makefile.Debug
*.Debug
*.Release
BIN/Makefile.Debug
BIN/Makefile.Release
BIN/release/main.o
